<div>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ClothingStore",
  "name": "Naudic",
  "image": "https://cdn.shopify.com/s/files/1/0335/3978/4763/files/Naudic-Logo-Black_198x57.png?v=1584147213",
  "@id": "https://naudic.com/",
  "url": "https://naudic.com/",
  "telephone": "(07) 3216 6133",
  "priceRange": "$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "5/45 Textile Crescent",
    "addressLocality": "Salisbury",
    "addressRegion": "QLD",
    "postalCode": "4107",
    "addressCountry": "AU"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": -27.54155197529808,
    "longitude": 153.0297637
  } ,
  "sameAs": [
    "https://www.facebook.com/naudic/",
    "https://www.instagram.com/naudic/",
    "https://www.youtube.com/channel/UC1hezScVS4b0aTtgTK88s-w"
  ] 
}
</script>
</div>