<div class="section-avada-video">
  <video autoplay muted loop playsinline class="hurabg-video">
    <source src=">https://cdn.shopify.com/videos/c/o/v/432146e6174d44eb98026378f3e0dcb7.mp4" type="video/mp4">
  </video>
</div>
{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}
 
{% stylesheet %}
.section-avada-video{
  width:100%;
}
.hurabg-video{
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}