<div class="page-content-about-us">
  <!--  Banner  -->
  <img class="banner-mobile-only" src="https://cdn.shopify.com/s/files/1/0335/3978/4763/files/about_us_banner_mobile.png?v=1613641578" alt="Naudic - banner" width="100%" height="471px">
  <div class="banner">
    <div class="banner--content">
      <p class="banner-title">Bold, brave and playful,</p>
      <p class="banner-description">the Naudic woman combines the fullness of life, work, family, entertainment and travel, <strong>and loves every minute of it.</strong></p>
    </div>
  </div>
  
  
  <!--  Content Block 1  -->
  <div class="content-block-1">
    <div class="content-block-1--border"></div>
    <div class="content-block-1--content">
      <p class="content-block-1-title">Our story started in 2008 in Australia.</p>
      <p class="content-block-1-description">Naudic's creator Emma Puttick began her love affair with fashion well before then. She was working in London (as a scientist, no less!), the bohemian styles of the Portobello Road markets were where she first got the taste of what has become the Naudic look. Add influences from travels through Sweden, India and South-East Asia and you have a label that's bright, fun and eminently wearable.</p>
    </div>
  </div>
  
  <!--  Banner 2  -->
  <img class="banner-2" src="https://cdn.shopify.com/s/files/1/0335/3978/4763/files/about_us_banner_1.png?v=1613644906" alt="Naudic - Banner" width="100%">
  <img class="banner-2-mobile-only" src="https://cdn.shopify.com/s/files/1/0335/3978/4763/files/about_us_banner_1_mobile.png?v=1613645521" alt="Naudic - Banner" width="100%">
  
  <!--  Content Block 2  -->
  <div class="content-block-2">
    <div class="content-block-2--image">
      <img src="https://cdn.shopify.com/s/files/1/0335/3978/4763/files/about_us_content_block_2.png?v=1613729355" alt="Naudic - Banner" width="600px" height="717px">
    </div>
    <div class="content-block-2--content">
      <p class="content-block-2--content-blob-1">While there has been great evolution of the brand over the past decade, each Collection has radiated the</p>
      <p class="content-block-2--content-blob-2">joy of feeling alive.</p>
      <p class="content-block-2--content-blob-3">This passion and freedom is so clear in each season of Naudic as a result of its creator and designer; Emma, sourcing all inspiration through her own travels.</p>
    </div>
    <div class="content-block-2--image-mobile-only">
      <img src="https://cdn.shopify.com/s/files/1/0335/3978/4763/files/about_us_content_block_2_image_mobile.png?v=1613976424" alt="Naudic - Banner" width="100%" height="438px">
    </div>
  </div>
  
  <!--  Content Block 3  -->
  <div class="content-block-3">
    <p class="content-block-3--content-blob-1">From that first simple line of cotton embroideries has grown a vibrant, global brand that has gained a cult following from</p>
    <p class="content-block-3--content-blob-2">Australia and New Zealand to South Africa and the USA – and beyond.</p>
    <p class="content-block-3--content-blob-3"><a href="https://naudic.com/collections/new-arrivals">Shop New Arrivals</a>
</p>
  </div>
  
</div>